body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #9face6);
    text-align: center;
}

header {
    background: #222;
    color: white;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
}

.hero {
    padding: 80px 20px;
    color: white;
}

.card {
    background: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

ul {
    list-style: none;
}
